---
http_interactions:
- request:
    method: post
    uri: https://api.dandelion.eu/datatxt/sent/v1
    body:
      encoding: UTF-8
      string: "%24app_id=e0bca290&%24app_key=2294c676b8698383764514cc219fad92&text=Mio+padre+che+mi+spinge+a+mangiare+e+guai+se+non+finisco+mio+padre+che+vuol+farmi+guidare+mi+frena+con+il+fischio"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Dl-Request-Id:
      - d0b56b41-afe6-4355-7c6a-268d990b4d5e
      X-Dl-Units:
      - '1'
      X-Dl-Units-Left:
      - '999'
      X-Dl-Units-Reset:
      - '2015-07-07 00:00:00 +0000'
    body:
      encoding: UTF-8
      string: '{"time":0,"sentiment":{"type":"negative","score":-1.0},"lang":"it","langConfidence":1.0,"timestamp":"2015-07-06T19:03:07.645"}'
  recorded_at: Mon, 06 Jul 2015 19:03:08 GMT
- request:
    method: post
    uri: https://api.dandelion.eu/sent/v1
    body:
      encoding: UTF-8
      string: "%24app_id=e0bca290&%24app_key=2294c676b8698383764514cc219fad92&text=Mio+padre+che+mi+spinge+a+mangiare+e+guai+se+non+finisco+mio+padre+che+vuol+farmi+guidare+mi+frena+con+il+fischio"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"error":true,"status":404,"code":"error.notFound","message":"API endpoint not found","data":{}}
  recorded_at: Tue, 14 Jul 2015 16:54:18 GMT
recorded_with: VCR 2.9.3
